<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div
      style="
        display: flex;
        width: 100%;
        min-width: 1px;
        max-width: 2000px;
        flex-percent: igual;
        flex-pixels: 200, 200;
        flex-pixels-height: 250;
        justify-content: space-between;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        border-radius: 0px 0px 0px 0px;
        border-top: solid 0px gray;
        border-right: solid 0px gray;
        border-bottom: solid 0px gray;
        border-left: solid 0px gray;
        outline: 0px green dashed;
        outline-offset: 0px;
        overflow-x: visible;
        overflow-y: visible;
        background-color: #cccccc;
        height: auto;
      "
    >
      <div
        style="
          background-color: #66b3ff;
          justify-content: center;
          display: flex;
          align-items: center;
          margin: 2px 2px 2px 2px;
          padding: 0px 0px 0px 0px;
          border-top: solid 0px gray;
          border-right: solid 0px gray;
          border-bottom: solid 0px gray;
          border-left: solid 0px gray;
          outline: 0px green dashed;
          outline-offset: 0px;
          border-radius: 0px 0px 0px 0px;
          overflow-x: visible;
          overflow-y: visible;
          height: auto;
          width: auto;
        "
      ></div>
      <div
        style="
          display: flex;
          width: auto;
          flex-percent: igual;
          flex-pixels: 200, 200, 200;
          flex-pixels-height: 250;
          margin: 2px 2px 2px 2px;
          padding: 10px 10px 10px 10px;
          border-radius: 0px 0px 0px 0px;
          border-top: solid 0px black;
          border-right: solid 0px black;
          border-bottom: solid 0px black;
          border-left: dotted 0px black;
          outline: 0px yellow solid;
          outline-offset: 0px;
          overflow-x: visible;
          overflow-y: visible;
          background-color: #737373;
          flex-shrink: 0;
          height: auto;
        "
      >
        <div
          style="
            background-color: rgba(255, 255, 0, 0);
            justify-content: center;
            display: flex;
            align-items: center;
            margin: 0px 5px 0px 5px;
            padding: 0px 0px 0px 0px;
            border-top: solid 0px black;
            border-right: solid 0px black;
            border-bottom: solid 0px black;
            border-left: dotted 0px black;
            outline: 0px yellow solid;
            outline-offset: 0px;
            border-radius: 0px 0px 0px 0px;
            overflow-x: visible;
            overflow-y: visible;
            height: auto;
            width: auto;
          "
        >
          <div
            style="
              background-color: rgba(195, 195, 76, 0.34);
              margin: 0px 0px 0px 0px;
              padding: 5px 5px 5px 5px;
              border-top: solid 0px black;
              border-right: solid 0px black;
              border-bottom: solid 0px black;
              border-left: dotted 0px black;
              outline: 0px yellow solid;
              outline-offset: 0px;
              border-radius: 3px 3px 3px 3px;
              overflow-x: visible;
              overflow-y: visible;
              display: inline-block;
              height: auto;
              width: auto;
              box-sizing: border-box;
            "
          >
            <span class="fontSize-20px" style="font-size: 20px"
              ><span class="color-#51b6f3" style="color: rgb(81, 182, 243)"
                >Inicio</span
              ></span
            >
          </div>
        </div>
        <div
          style="
            background-color: rgba(0, 0, 0, 0);
            justify-content: center;
            display: flex;
            align-items: center;
            margin: 0px 5px 0px 5px;
            padding: 0px 0px 0px 0px;
            border-top: solid 0px black;
            border-right: solid 0px black;
            border-bottom: solid 0px black;
            border-left: dotted 0px black;
            outline: 0px yellow solid;
            outline-offset: 0px;
            border-radius: 0px 0px 0px 0px;
            overflow-x: visible;
            overflow-y: visible;
            height: auto;
            width: auto;
          "
        >
          <div
            style="
              background-color: rgba(255, 255, 0, 0.39);
              margin: 0px 0px 0px 0px;
              padding: 5px 5px 5px 5px;
              border-top: solid 0px black;
              border-right: solid 0px black;
              border-bottom: solid 0px black;
              border-left: dotted 0px black;
              outline: 0px yellow solid;
              outline-offset: 0px;
              border-radius: 3px 3px 3px 3px;
              overflow-x: visible;
              overflow-y: visible;
              display: inline-block;
              height: auto;
              width: auto;
              box-sizing: border-box;
            "
          >
            <i class="italic">Contacto</i>
          </div>
        </div>
        <div
          style="
            background-color: rgba(115, 115, 115, 0);
            justify-content: center;
            display: flex;
            align-items: center;
            margin: 0px 5px 0px 5px;
            padding: 0px 0px 0px 0px;
            border-top: solid 0px black;
            border-right: solid 0px black;
            border-bottom: solid 0px black;
            border-left: dotted 0px black;
            outline: 0px yellow solid;
            outline-offset: 0px;
            border-radius: 0px 0px 0px 0px;
            overflow-x: visible;
            overflow-y: visible;
            height: auto;
            width: auto;
          "
        >
          <div
            style="
              background-color: rgba(255, 255, 0, 0.67);
              margin: 0px 0px 0px 0px;
              padding: 5px 5px 5px 5px;
              border-top: solid 0px black;
              border-right: solid 0px black;
              border-bottom: solid 0px black;
              border-left: dotted 0px black;
              outline: 0px yellow solid;
              outline-offset: 0px;
              border-radius: 3px 3px 3px 3px;
              overflow-x: visible;
              overflow-y: visible;
              display: inline-block;
              height: auto;
              width: auto;
              box-sizing: border-box;
            "
          >
            Productos2
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
